#Alias svn
alias svnst='svnstatus'
alias svninfo='svn info'
alias svnrd='svn resolved'

#alias git
alias g='git'
alias gs='git status'
alias gd='git diff'
alias gdst='git diff --staged'
alias lg='GIT_PAGER=less git'
alias cdr='cd $(git root)'

alias tf='tail -f logs/catalina.out'
alias ..='cd ..'
alias ~='cd ~'

alias ll='ls -alFh'
alias la='ls -A'
alias l='ls -CF'

alias xop='xdg-open'

alias chat='python ~/bin/pyrnotify.py 4321 & autossh -M 0 -t paco-weechat "tmux attach -t weechat"'

# Docker
alias docker-clean='docker rmi $(docker images -a | grep "^<none>" | awk '"'"'BEGIN {FS=" "} ; {print $3}'"'"') && docker rm $(docker ps -q -f status=exited)'
alias docker-local='export DOCKER_HOST="" && export DOCKER_TLS_VERIFY="" && export DOCKER_CERT_PATH=""'
alias docker-sumo='export DOCKER_HOST=tcp://sumo.phoxygen.com:2376 && \
    export DOCKER_TLS_VERIFY=1 && export DOCKER_CERT_PATH=/home/augustin/.docker'

# goodies
alias meteo='curl http://fr.wttr.in/limoges'

# SIG
alias setup-gdal-mdb='export CLASSPATH="/home/augustin/workspace/gdal/gdal-2.2.1/jars/commons-lang-2.4.jar:/home/augustin/workspace/gdal/gdal-2.2.1/jars/commons-logging-1.1.1.jar:/home/augustin/workspace/gdal/gdal-2.2.1/jars/jackcess-1.2.14.3.jar"; \
                export LD_LIBRARY_PATH="/usr/local/lib:/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/amd64/server/"'

alias tw='timew'
