# vim: ft=bash
# prevent term error with ssh
# TODO find better way ? 
# see https://unix.stackexchange.com/a/67541/65188
alias ssh='TERM=screen-256color ssh'

#alias git
alias g='git'
alias gs='git status'
alias gd='git diff'
alias gdst='git diff --staged'
alias lg='GIT_PAGER=less git'
alias cdr='cd $(git root)'

alias tf='tail -f'
alias ..='cd ..'
alias ~='cd ~'

alias ll='ls -alFh'
alias la='ls -A'
alias l='ls -CF'

alias xop='xdg-open'


# Docker
alias docker-clean='docker rmi $(docker images -a | grep "^<none>" | awk '"'"'BEGIN {FS=" "} ; {print $3}'"'"') && docker rm $(docker ps -q -f status=exited)'
alias docker-local='export DOCKER_HOST="" && export DOCKER_TLS_VERIFY="" && export DOCKER_CERT_PATH=""'

# goodies
alias meteo='curl http://fr.wttr.in/limoges'

alias tw='timew'

# workarounds
alias fix_damn_touchpad='sudo modprobe -r psmouse && sudo modprobe psmouse'

# here will go everything I don't want to version for one reason or another
if [ -f ~/.local-aliases ]; then
    . ~/.local-aliases
fi

