# vim: ft=bash
# prevent term error with ssh
# TODO find better way ? 
# see https://unix.stackexchange.com/a/67541/65188
alias ssh='TERM=screen-256color ssh'
alias vim='lvim'
alias vi='lvim'

#alias git
alias g='git'
alias gs='git status'
alias gd='git diff'
alias gdst='git diff --staged'
alias lg='GIT_PAGER=less git'
alias cdr='cd $(git root)'
alias gt='glab'

alias tf='tail -f'
alias ..='cd ..'
alias ~='cd ~'

alias ls='eza --icons=auto'
alias ll='ls -alh'
alias la='ls -A'
alias l='ls'

alias xop='xdg-open'

alias bat='bat --theme=ansi'

# Docker
alias docker-clean='docker rmi $(docker images -a | grep "^<none>" | awk '"'"'BEGIN {FS=" "} ; {print $3}'"'"') && docker rm $(docker ps -q -f status=exited)'
alias docker-local='export DOCKER_HOST="" && export DOCKER_TLS_VERIFY="" && export DOCKER_CERT_PATH=""'

# nixpkgs
alias reviewthispr='nix run .#nixpkgs-review pr -- $(gh pr view  | grep number | cut -f2) --post-result'
alias reviewthiscommit='nix run .#nixpkgs-review rev HEAD'

# goodies
alias meteo='curl http://fr.wttr.in/limoges'
alias meteo2='curl http://v2.fr.wttr.in/limoges'
alias text2json="jq -s --raw-input '. | split(\"\n\")'"

alias tw='timew'

function watchthis {
  watched_files=$1
  shift
  while true; do
    inotifywait -r -e modify -e move -e create -e move_self -e delete -e delete_self "$watched_files" \
       && eval "$@"
   done
}


alias cwifi='nmcli -f "SSID,IN-USE,FREQ,RATE,BARS,SECURITY" -c yes dev wifi list |  fzf --ansi | cut -d" " -f1 | xargs nmcli dev wifi connect'
alias cvpn='nmcli -c yes connection show | grep --color=no vpn | cut -d" " -f1 | fzf | xargs nmcli connection up '

# workarounds
alias fix_damn_touchpad='sudo modprobe -r psmouse && sudo modprobe psmouse'

function s {
    if [ -e package.json ]; then
        target=$(jq -r '.scripts|to_entries[]|((.key))' package.json | fzf)
        npm run $target
    else
        echo "❗ no package.json"
    fi
}

# here will go everything I don't want to version for one reason or another
if [ -f ~/.local-aliases ]; then
    . ~/.local-aliases
fi

