[user]
	name = Augustin Trancart
	email = augustin.trancart@gmail.com
[color]
	ui = auto

	;diff = true
	;status = true
	;branch = auto
	;ui = true
[core]
    #autocrlf = input
	editor = vim
	pager = cat
[alias]
	co = checkout
	ci = commit
	di = diff
	dist = diff --staged
	nicedi = diff -w --word-diff-regex=[^[:space:]]
	ch = cherry
	cp = cherry-pick
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
	oops = commit --amend -C HEAD
	fuckthis = reset --hard HEAD~1
	ohnoo = reset --hard ORIG_HEAD
	tidy = rebase -i @{upstream}
[diff]
	mnemonicPrefix = true
	wordRegex = .
	tool = meld
[fetch]
	recurseSubmodules = on-demand
[grep]
	extendedRegexp = true
[log]
	abbrevCommit = true
[merge]
	tool = vimdiff
	conflictStyle = diff3
[mergetool]
	prompt = false
[pull]
	rebase = preserve
[push]
	default = upstream

[rerere]

	autoupdate = true
	enabled = true
[status]
	submoduleSummary = true
	showUntrackedFiles = all
[http]
	cookiefile = ~/.gitcookies
[commit]
	template = ~/.git_commit_msg.txt
