# vim: tabstop=4:softtabstop=4:shiftwidth=4:noexpandtab:
[color]
	ui = auto

	;diff = true
	;status = true
	;branch = auto
	;ui = true
[core]
	#autocrlf = input
	editor = lvim
	pager = delta
	fileMode = true
[pager]
  #log = diff-highlight | batcat
  #show = diff-highlight | batcat
  #diff = diff-highlight | batcat
[interactive]
  #diffFilter="diff-highlight"
	diffFilter = delta --color-only
[alias]
	co = checkout
	ci = commit
	d = diff
	dst = diff --staged
	dtool = difftool
	niced = diff -w --word-diff-regex=[^[:space:]]
	wd = diff --word-diff
	r = rebase
	lg = log --graph --pretty=tformat:'%Cred%h%Creset %C(bold blue)%<(20,trunc)%an%Creset %C(auto)%d%Creset %s %Cgreen(%cr) '
	# git lg master.. -> what I'm going to PR? -> w
	w = log --graph --pretty=tformat:'%Cred%h%Creset %C(bold blue)%<(20,trunc)%an%Creset %C(auto)%d%Creset %s %Cgreen(%cr) ' origin/HEAD..
	wd = diff origin/HEAD
	ch = cherry-pick
	s = status
	br = branch
	# tidy on master
	t = rebase -i origin/HEAD --autosquash
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	oops = commit --amend -C HEAD
	fuckthis = reset --hard HEAD~1
	ohnoo = reset --hard ORIG_HEAD
	fixup = !git commit --fixup `git log origin/HEAD..HEAD --oneline | fzf --ansi --preview=\"git show --color=always $(echo {1} | awk '{print $1}')\"  | awk '{print $1}'`
	itsme = commit -C HEAD --amend --reset-author
	b = !git branch | fzf --ansi --preview=\"git w --color=always {1}\" --multi | xargs
	ignore = "!gi() { local IFS=','; curl -sL https://www.toptal.com/developers/gitignore/api/\"$*\"; }; gi"
[diff]
	mnemonicPrefix = true
	renames = copies
	colorMoved = true
	tool = delta
#[difftool "colordiff"]
#    cmd="colordiff --side-by-side $LOCAL $REMOTE"
[fetch]
	recurseSubmodules = on-demand
[grep]
	extendedRegexp = true
[log]
	abbrevCommit = true
; [merge]
; 	tool = vimdiff
; 	conflictStyle = diff3
; [mergetool]
; 	prompt = false
# define command which will be used when "lvim" is set as a merge tool
[mergetool "nvim"]
	cmd = "nvim -d -c \":set scrollbind\" -c \":split | edit $MERGED\" -c \":wincmd k\" -c \":vsplit | edit $BASE\" -c \":vsplit | edit $REMOTE\" -c \":wincmd j\" $LOCAL"
# set "lvim" as tool for merging
[merge]
  tool = nvim
	layout = LOCAL
  ; conflictStyle = diff3
[mergetool]
  prompt = false
; [mergetool]
# automatically launch merge tool without displaying a prompt
[pull]
	rebase = merges
[push]
	default = upstream
	autoSetupRemote = true
[rerere]
	autoupdate = true
	enabled = true
[status]
	submoduleSummary = true
	showUntrackedFiles = all
[http]
	cookiefile = ~/.gitcookies
[commit]
	template = ~/.git_commit_msg.txt
	verbose = true
[branch]
	autoSetupMerge = false
    sort = -committerdate
[tag]
    sort = -version:refname
[url "https://anongit.kde.org/"]
	insteadOf = kde:
[url "git@git.kde.org:"]
	pushInsteadOf = kde:
[delta]
	features = line-numbers decorations
	whitespace-error-style = 22 reverse
	features = kantix
	; features = gruvmax-fang
	side-by-side = true
[delta "kantix"]
	# author: myself ;-)
	# general appearance
	light = true
    syntax-theme = gruvbox-light
    # File
    file-style = "#000000" bold
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
    ; file-decoration-style = "#434C5E" ul
    file-decoration-style = "#000000" ul
    # No hunk headers
    hunk-header-style = omit
    # Line numbers
    line-numbers = true
    line-numbers-left-style = "#8c8c8c"
    line-numbers-right-style = "#8c8c8c"
    line-numbers-minus-style = "#c21111"
    line-numbers-plus-style = "#17b36f"
    line-numbers-zero-style = "#8c8c8c"
    line-numbers-left-format = " {nm:>3} │"
    line-numbers-right-format = " {np:>3} │"
    # Diff contents
    inline-hint-style = syntax
    minus-style = syntax "#ff9b9b"
    minus-emph-style = syntax "#ee7676"
    minus-non-emph-style = syntax auto
    plus-style = syntax "#7aefb4"
    plus-emph-style = syntax "#17b36f"
    plus-non-emph-style = syntax auto
    whitespace-error-style = "#ec831f" reverse
    # Commit hash
    commit-decoration-style = normal box
    commit-style = "#ffffff" bold
    # Blame
    blame-code-style = syntax
    blame-format = "{author:>18} ({commit:>8}) {timestamp:<13} "
    blame-palette = "#000000" "#1d2021" "#282828" "#3c3836"
    # Merge conflicts
    merge-conflict-begin-symbol = ⌃
    merge-conflict-end-symbol = ⌄
    merge-conflict-ours-diff-header-style = "#FABD2F" bold
    merge-conflict-theirs-diff-header-style = "#FABD2F" bold overline
    merge-conflict-ours-diff-header-decoration-style = ''
    merge-conflict-theirs-diff-header-decoration-style = ''
[delta "hoopoe"]
    # author: https://github.com/dandavison
	# copied from https://raw.githubusercontent.com/dandavison/delta/master/themes.gitconfig

    light = true
    pink = "#ffe0e0"
    dark-pink = "#ffc0c0"
    green = "#17B36F"
    dark-green = "#a0efa0"
    dark-green-2 = "#067a00"
    minus-style = normal hoopoe.pink
    minus-emph-style = normal hoopoe.dark-pink
    minus-non-emph-style = minus-style
    plus-style = syntax hoopoe.green
    plus-emph-style = syntax hoopoe.dark-green
    plus-non-emph-style = plus-style
    minus-empty-line-marker-style = minus-style
    plus-empty-line-marker-style = plus-style
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = hoopoe.dark-green-2
    hunk-header-style = file line-number syntax
    syntax-theme = GitHub
    zero-style = syntax
[delta "gruvmax-fang"]
    # author: https://github.com/maxfangx
    # General appearance
    dark = true
    syntax-theme = gruvbox-dark
    # File
    file-style = "#FFFFFF" bold
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
    file-decoration-style = "#434C5E" ul
    file-decoration-style = "#84786A" ul
    # No hunk headers
    hunk-header-style = omit
    # Line numbers
    line-numbers = true
    line-numbers-left-style = "#84786A"
    line-numbers-right-style = "#84786A"
    line-numbers-minus-style = "#A02A11"
    line-numbers-plus-style = "#479B36"
    line-numbers-zero-style = "#84786A"
    line-numbers-left-format = " {nm:>3} │"
    line-numbers-right-format = " {np:>3} │"
    # Diff contents
    inline-hint-style = syntax
    minus-style = syntax "#330011"
    minus-emph-style = syntax "#80002a"
    minus-non-emph-style = syntax auto
    plus-style = syntax "#001a00"
    plus-emph-style = syntax "#003300"
    plus-non-emph-style = syntax auto
    whitespace-error-style = "#FB4934" reverse
    # Commit hash
    commit-decoration-style = normal box
    commit-style = "#ffffff" bold
    # Blame
    blame-code-style = syntax
    blame-format = "{author:>18} ({commit:>8}) {timestamp:<13} "
    blame-palette = "#000000" "#1d2021" "#282828" "#3c3836"
    # Merge conflicts
    merge-conflict-begin-symbol = ⌃
    merge-conflict-end-symbol = ⌄
    merge-conflict-ours-diff-header-style = "#FABD2F" bold
    merge-conflict-theirs-diff-header-style = "#FABD2F" bold overline
    merge-conflict-ours-diff-header-decoration-style = ''
    merge-conflict-theirs-diff-header-decoration-style = ''
[delta "decorations"]
	; commit-decoration-style = bold yellow box ul
	; file-style = bold yellow ul
	file-decoration-style = none
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

# local modif for email for instance
[include]
	path = ~/.localgitconfig
[init]
	defaultBranch = main
